{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrapframework/css/bootstrap.min.css' %}">
</head>
<body>
    <h1>Department List</h1>
    <div class="d-flex justify-content-end me-5">
        <a href="#"><button class="btn btn-warning">add</button></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{department.name}}</td>
                    <td>{{department.location}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>