{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrapframework/css/bootstrap.min.css' %}">
</head>
<body>
    
    <div class="container">
       <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">S.No</th>
                <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                <th scope="row">{{ forloop.counter}}</th>
                <td>{{category.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <button class="btn btn-primary">add category</button>
        </div>
    </div>
</body>
</html>