{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrapframework/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'products:listcategory' %}"><button>category</button></a>
        <a href="{% url 'products:listproducts' %}"><button>product</button></a>
        <a href="{% url 'products:orderspage' %}"><button>order</button></a>
       
    </div>
</body>
</html>